<!DOCTYPE html>

<html lang="en">
	<head>
		<title>{{page.title}}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- link to stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <!-- <script src="/js/bootstrap.min.js"></script> -->
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/projects">Projects</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
    
    <div class="container">
    {{content}}
    </div>
		<footer>
    		<ul>
        		<li><a href="mailto:cardozo.jeffrey@gmail.com">Email</a></li>
        		<li><a href="https://github.com/jpCobalt">github.com/jpCobalt</a></li>
			</ul>
		</footer>
	</body>

</html>
