<!DOCTYPE html>

<html>
	<head>
		<title>{{page.title}}</title>
    <!-- link to stylesheet -->
    <link rel="stylesheet" type="text/css" href="">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/projects">Projects</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
    
    <div class="container">
    {{content}}
    </div>
		<footer>
    		<ul>
        		<li><a href="mailto:cardozo.jeffrey@gmail.com">Email</a></li>
        		<li><a href="https://github.com/jpCobalt">github.com/jpCobalt</a></li>
			</ul>
		</footer>
	</body>

</html>
